# Firebase
.firebase/
firebase-debug.log
ui-debug.log

# Functions
functions/node_modules/
functions/lib/
functions/.eslintrc.js

# Flutter
cargo_app/.dart_tool/
cargo_app/.packages
cargo_app/.pub/
cargo_app/build/
cargo_app/android/.gradle/
cargo_app/android/app/build/
cargo_app/android/build/
cargo_app/android/local.properties
cargo_app/ios/Pods/
cargo_app/ios/.symlinks/
cargo_app/.flutter-plugins
cargo_app/.flutter-plugins-dependencies
cargo_app/.metadata
cargo_app/pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
